<form class="form-inline navbar-search" method="get" asp-controller="product" asp-action="search">
    <input id="srchFld" class="srchTxt" type="text" name="keyword" value="@Model.keyword" />
    <button type="submit" id="submitButton" class="btn btn-primary">Go</button>
    <a href ="/Areas/Product/Index">
        <button id="submitButton" class="btn btn-primary">Разместить объявление!</button>
    </a>
    
</form>



